.contact_page {
    width: 100%;
}

.contact_page .background {
    width: 100%;
    height: auto;
    background-color: #0D0D0D;
}

.contact_page .map_container {
    width: 68.750vw;
    height: 700px;
    display: flex;
    margin: 0 auto;
    flex-shrink: 0;
    border-radius: 6px;
    box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.683);
    overflow: hidden;
    padding-top: 120px;
}

.contact_page .map_container .aside {
    width: 25vw;
    margin-left: 12px;
}

.contact_page .map_container .aside .adress {
    border: 1px solid #FF9F0D;
    font-family: Helvetica;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    padding: 18px;
    list-style: none;
    border-radius: 6px;
}

.contact_page .map_container .aside .adress span {
    color: #FF9F0D;
}

.contact_page .map_container .aside .adress li {
    margin-top: 12px;
}

.contact_page .map_container .aside .adress li:first-child {
    font-size: 26px;
    font-weight: 600;
    line-height: 32px;
}

.contact_page .map_container .aside .contacts {
    border: 1px solid #FF9F0D;
    font-family: Helvetica;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-top: 24px;
    padding: 18px;
    list-style: none;
    border-radius: 6px;
}

.contact_page .map_container .aside .contacts li {
    margin-top: 12px;
}

.contact_page .map_container .aside .contacts li:first-child {
    font-size: 24px;
    font-weight: 600;
}

.contact_page .map_container .aside .contacts span {
    color: #FF9F0D;
    margin-left: 8px;
}